@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #bbc2c0;
  --foreground: #171717;
  --bottom: 0;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--inter);
}
